*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lemonchiffon;
}
.formulario{
    border: solid;
}
label{
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: 'Bebas Neue', 'Konkhmer Sleokchher',sans-serif;
    font-size: 1.7em;
    display: inline;

}
.monto{
    display:block;
    margin: 3px;
}
.coutas{
    display:block;
    margin: 3px;
}
.boton{
    display:block;
    margin: 3px;
    padding-top: 60px;
    padding-bottom: 10px;
    font-family: 'Bebas Neue', 'Konkhmer Sleokchher',sans-serif;
    font-size: 1em;
    place-items: center
    
}
.interes{
    display:block;
    margin: 3px;
}
.montoPrestamo{
    display: block;
    margin: 3px;
}
.nombre{
    display:block;
    margin: 3px;
}
#respuesta{
    font-family: 'Bebas Neue', 'Konkhmer Sleokchher',sans-serif;
    place-items: center;
    font-size: 3em;
}